*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    
  
    background-size: cover;
}
#videobcg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100% !important;
    max-height: 100% !important;
    z-index: -1000;
    overflow: hidden;
    object-fit: fill;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}


.container {
 
  max-width: 500px;
    background:rgb(216, 6, 239);
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(241, 4, 4, 0.4);
    font-family:cursive;
    padding:20px;
}


.title{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap-reverse;
    gap:10px;

}

.Temperature-icon{
    font-size:45px;
    color:rgb(8, 8, 240);
}
h1{
    color:rgb(26, 11, 239);
    letter-spacing:1.2px;
    font-size:30px;

}


#celcius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
input{
    flex:5;
    height:60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline:none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


/*for mozilla*/
input{
    -moz-appearance: textfield;
}
.icon{
    flex:1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align:center;
    font-size:30px;
    background:rgb(245, 5, 5);
    color:#fff;
    border-radius: 0 8px 8px 0;

}

.button{
    margin-top: 25px;
    text-align: center;
}

.button button{
    border:none;
    outline: none;
    padding:10px 30px;
    font-size:20px;
    font-weight: 600;
    border-radius: 3px;
    cursor:pointer;
    transition: 0.3s;

}

.button button:hover{
    background:rgb(244, 3, 3);
    color:white;
}